<article class="post">
    <div class="title">
        <h3><a href="/post/{{id}}">{{title}}</a></h3>
    </div>
    <div>Written by: {{user.username}} | Written on: {{format_date created_at}}|
    <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
    </div>
</article>